blockquote {
  font-style: italic;
}
.posts .post .post-title {
  font-weight: bold;
}
.posts .post .post-content {
  word-wrap: break-word;
}
body {
  background-color: #fff;
  color: #000;
}
body .container {
  width: 70%;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
